* {
    margin: 0;
    box-sizing: border-box;

}

p {
    font-size: 19px;
    margin-top: 2%;
}

.font:hover {
    cursor: pointer;
    font-size: 24px;


}

.text,
.font {
    transition: 0.4s ease;
}



.header h3,
.header .font {
    margin-top: 5%;

}



.header {
    width: 100%;
    background-color: #0d3734;


    display: flex;
    justify-content: center;

}

.container h4 {
    padding: 10px;
    background-color: black;
    display: inline-block;
    color: azure;


}



.nav img {
    width: 100%;
}



.font,
.main2 h3,
#msg h3 {
    margin: 20px 0 10px 0;
}

.header2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
    color: #0b0c10;



}

.header2 h2 {
    font-size: 35px;
}

.header3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    margin-top: 4%;
}

.header3 .line {
    width: 100%;
    height: 4px;
    ;
    background-color: #0d3734;
}

.header3 h2 {
    background-color: #0d3734;
    color: white;
    padding: 10px;
}




.img {
    text-align: center;
}


.main img,
.content2 img,
.mains img {
    width: 100%
}

.content1 {
    flex-basis: 70%;
}

.content2 {
    flex-basis: 20%;
}


.box {

    text-align: center;
    background-color: #0d3734;
    padding: 10px 0;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.box box-icon {

    flex-basis: 20%;
}

.box h3 {
    flex-basis: 80%;
}

.skill {
    border: 1px solid black;
    text-align: center;

}

.graphics {
    width: 90%;
    background-color: #0d3734;
    color: white;
    padding: 3px;
}

.html {
    width: 100%;
    background-color: #0d3734;
    color: white;
    padding: 3px;
}

.javascript {
    width: 80%;
    background-color: #0d3734;
    color: white;
    padding: 3px;

}

.marketing {
    width: 88%;
    background-color: #0d3734;
    color: white;
    padding: 3px;
}

.backend {
    width: 75%;
    background-color: #0d3734;
    color: white;
    padding: 3px;
}

.map {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 30px;
    border: solid black 2px;
}

.map img {
    width: 100%;
    padding: 4px;


}

#contact {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#contact h3 {
    text-align: left;

}

.im input {
    width: 100%;
    padding: 15px 0;
}

#msg,
.msginput {
    width: 80%;
    text-align: left;
}

.msginput input {
    width: 100%;
    padding-bottom: 15%;
}

#sendmsg {
    text-align: left;
    width: 80%;
}

.footer {
    width: 100%;
    text-align: center;
    height: 150px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header2,
.header3,
.main,
.content,
.skill {
    margin-top: 6%;
}



.footer div {
    width: 50%;
}

box-icon {
    margin: 2%;


}

input {
    font-size: 20px;
}

.main2 {
    gap: 30px;
}

@media screen and (min-width:768px) and (max-width:1600px) {

    .main2 .img,
    .box,
    .img {
        flex-basis: 31%;

    }

    .main,
    .content,
    .mains {
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 4%;
    }

    .navbar {
        position: fixed;
        background-color: #0b0c10;
        height: 100%;
        width: 14%;
        color: azure;
        flex-wrap: wrap;

    }


    .nav1,
    .nav {
        margin-top: 10%;
        width: 100%;
        padding: 20px 0;

    }

    .container {
        width: 86%;
        margin-left: 14%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #3AAFA9;

        background-repeat: no-repeat;

    }




    .text {
        width: 100%;
        padding: 20px 20px;
        background-color: #1f2833;
        text-align: center;
    }

    .content {
        gap: 10px;
    }

    .footer {
        margin-top: 4%;
    }

    .text:hover {
        cursor: pointer;
        font-size: 24px;


    }

    .text,
    p {
        font-size: 19px;
        margin-top: 2%;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 23px;
    }

    h4 {
        font-size: 18px;
    }

    .head {
        width: 50%;
        color: white;
        margin: 9% 0 7% 0;
        text-align: center;
    }

    .content1 {
        flex-basis: 65%;
    }

    .content2 {
        flex-basis: 25%;
    }

    .content3 {
        flex-basis: 30%;
    }





}

@media screen and (max-width:767px) {
    .page {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;


    }

    .boxes {
        flex-direction: column;
        gap: 10px;
    }

    .nav {
        display: none;
    }

    .head {
        width: 80%;
        color: white;
        text-align: center;
        padding: 100px 0 20px 0;

    }


    .nav1 {
        flex-basis: 100%;
        display: flex;
        width: 100%;
        gap: 5px;


    }

    .text {
        flex-basis: 25%;
        padding: 15px 0;
        background-color: #1f2833;
        text-align: center;
    }

    .nav1 {
        display: flex;
        width: 100%;
    }

    .navbar {
        position: fixed;
        background-color: #0b0c10;
        height: 9%;
        width: 100%;
        display: flex;
        color: azure;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }

    .content1 {
        flex-basis: 100%;
    }

    .content2 {
        display: none;
    }

    .content3 {
        flex-basis: 100%;
    }

    .container {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #3AAFA9;

        background-repeat: no-repeat;

    }

    .box {
        margin-top: 2%;
    }

    .main2 .img,
    .img {

        flex-basis: 60%;

    }

    .nav1 {
        position: relative;

    }

    .text:hover {
        cursor: pointer;
        color: #0d3734;


    }

    p {
        font-size: 16px;
        margin-top: 3%;
    }

    .main .img,
    .mains .img {
        margin-top: 4%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    .header2 h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    .main2 {
        gap: 5px;
    }

    .footer {
        margin-top: 2%;
    }

    .main,
    .content,
    .mains {
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }

}
